body{
    margin: 0;
}
.pane{
    height: 50vh;
    display: flex;
    
    
}
.top-pane{
    background-color: hsl(225,6%,25%);
}
.editor-container{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: hsl(225,6%,25%);

}
.editor-container.collapsed{
    flex-grow: 0;
}
.editor-container.collapsed.CodeMirror-scroll{
    position: absolute;
    overflow: hidden !important;


}
.expand-collapse-btn{
    margin: .5rem;
    background: white;
    border: none;
    border-radius: 5px;
    justify-content: center;



}
.editor-title{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color:hsl(225,6%,15%) ;
    color:white;
    padding: .5rem .5rem .5rem 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}
.CodeMirror{
    height: 100% !important;
}
.code-mirror-wrapper{
    flex-grow: 1;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    overflow: hidden;

}

.bottom-pane{    color: gray;
}